<script src="https://kit.fontawesome.com/7d37d5d745.js" crossorigin="anonymous"></script>
<form action="/forgot-password" method="post">
    <input type="text" placeholder="enter mail registered" name="mail">
    <button type="submit">Send OTP</button>
    <i class="fas fa-check-circle" id="step1"></i>
</form>
<% if(userFound) { %>
        <h1>An OTP has been sent to <%-user.email%> . Please check your inbox and enter the OTP below</h1>
        <form action='/verify-otp', method="post">
            <input type="number" name='otpEntered' id="otp-box" required>
            <div id="mycounter"></div>
            <script>
                i = 59;
                window.onload = onTimer()
                function onTimer() {
                    document.getElementById('mycounter').innerHTML = `0:${i}`;
                    i--;
                    if (i < 0) {
                        window.location.replace('/login') 
                    }
                    else {
                        setTimeout(onTimer, 1000);
                    }
                }
            </script>
            <button type="submit">Verify OTP</button>
        </form>
        <%if(otpVerified==true) {%>
            <h1>OTP Verified</h1><i class="fas fa-check-circle" id="step2"></i>
            <form action="/update-password" method="post">
                <input type="password" name="password">
                <input type="password">
                <button type="submit">Update Password</button>
                <input type="text" name="mail" value="<%=user.email%>" style="visibility: hidden;">
            </form>

        <%}else if(otpVerified==false){%>
            <h1>OTP not verified, try Step 1 again</h1>
        <%}%>
        
<% } %>
<style>
    .fa-check-circle{
        color: rgb(19, 191, 19);
        visibility: hidden;
    }
</style>

<% if(steps.s1) {%>
    <style>
        #step1{
            visibility: visible;
        }
    </style>
<% } %>
<% if(steps.s2) {%>
    <style>
        #step2{
            visibility: visible;
        }
    </style>
<% } %>