<html>
    <head>
        <title>
            Sorry
        </title>
    </head>
    <body>
        <h1 style="text-align: center;">
            This functionality has been discontinued until further notice.
        </h1>
        <h2 style="text-align: center;">
            Inconvenience caused is deeply regretted...
        </h2>
    </body>
</html>