<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cred Saver: The ultimate credentials saving app</title>
    <link rel="stylesheet" href="/public/css/landing.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/public/images/logo.png" alt="Logo">
            <span class="section-title">CredSaver</span>
        </div>
        <nav class="navbar">
            <a href="/about">About Us</a>
            <a href="/faqs">FAQs</a>
        </nav>
        <div class="login-signup">
            <a href="/login" class="login">Login</a>
            <a href="/register" class="register">Register</a>
        </div>
        
        <div class="overlay" id="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <div class="logo">
                    <span class="section-title">CredSaver</span>
                </div>
                <a href="/about">About Us</a>
                <a href="/faqs">FAQs</a>
                <div class="login-signup" style="display: flex;">
                    <a href="/login" class="login">Login</a>
                    <a href="/register" class="register">Register</a>
                </div>
                
            </div>
        </div>
        <span class ="open-button" onclick="openNav()">&#9776;</span>

        <script>
            function openNav() {
                document.getElementById("overlay").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("overlay").style.width = "0%";
            }
        </script>
    </header>
    <main>
        <section class="introduction">
            <div class="grid">
                <div class="section-text right">
                    <h1 class="section-title">
                        What is it?
                    </h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat qui iure asperiores illo obcaecati velit dignissimos reiciendis, corporis dolore sapiente aspernatur debitis non quos veniam adipisci ipsa vitae quia id.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis magni accusamus debitis! Ipsa veritatis distinctio enim amet aliquid voluptates aspernatur, et sit cumque dolor nostrum deserunt expedita nihil veniam, nesciunt delectus quod ratione. Non, magnam quasi. Soluta possimus dignissimos dolorum pariatur eius excepturi laboriosam reprehenderit, ullam quia dolor alias vero similique consequuntur rem temporibus magnam nam aliquid est exercitationem quae molestiae. Voluptatum, alias aliquid omnis error officiis neque nobis odio ab earum enim illum reprehenderit voluptas ut laborum excepturi quas rem laboriosam officia modi in ipsum ex dolorum. Excepturi, animi error! Ducimus tenetur odit hic porro eligendi, repudiandae id cupiditate?
                </div>
                <div class="section-img left">
                    <img src="/public/images/intro.png" alt="">
                </div>
            </div>
            
        </section>
        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#742fe4" fill-opacity="1" d="M0,192L80,181.3C160,171,320,149,480,154.7C640,160,800,192,960,197.3C1120,203,1280,181,1360,170.7L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
        </div>
        <section class="why">
            <div class="grid">
                <span class="section-text left">
                    <h1 class="section-title">
                        Why CredSaver?
                    </h1>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nisi minima eius consequatur explicabo asperiores hic officiis quo, perspiciatis non quaerat dolorum nam vitae, tempore accusamus corporis quas similique voluptas?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem repellendus excepturi eaque soluta corrupti ab consectetur maxime. Officia distinctio quam id quaerat corrupti. Omnis mollitia a numquam! Esse ab quod odio itaque eligendi expedita incidunt magni qui nulla error, laborum ut adipisci corrupti voluptas illo natus id architecto maiores impedit. Adipisci corrupti illo consectetur, officia, aliquid commodi eius fugiat aspernatur vitae cupiditate nesciunt deleniti provident quaerat necessitatibus ipsum quo laborum. Dicta, inventore! Minus, voluptate tempora maxime nulla molestiae corporis praesentium asperiores non obcaecati, cum, commodi porro cumque a. Incidunt ipsam impedit delectus, ex vitae totam nihil voluptates qui. Voluptatibus, quas!
                </span>
                <span class="section-img right">
                    <img src="/public/images/encryption.png" alt="">
                </span>
            </div>
        </section>
        <div class="wave" style="background-color: #742fe4;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFE100" fill-opacity="1" d="M0,32L80,74.7C160,117,320,203,480,202.7C640,203,800,117,960,80C1120,43,1280,53,1360,58.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
        </div>
        <section class="introduction">
            <div class="grid">
                <span class="section-text right">
                    <h1 class="section-title">
                        Is it secure?
                    </h1>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nisi minima eius consequatur explicabo asperiores hic officiis quo, perspiciatis non quaerat dolorum nam vitae, tempore accusamus corporis quas similique voluptas?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem repellendus excepturi eaque soluta corrupti ab consectetur maxime. Officia distinctio quam id quaerat corrupti. Omnis mollitia a numquam! Esse ab quod odio itaque eligendi expedita incidunt magni qui nulla error, laborum ut adipisci corrupti voluptas illo natus id architecto maiores impedit. Adipisci corrupti illo consectetur, officia, aliquid commodi eius fugiat aspernatur vitae cupiditate nesciunt deleniti provident quaerat necessitatibus ipsum quo laborum. Dicta, inventore! Minus, voluptate tempora maxime nulla molestiae corporis praesentium asperiores non obcaecati, cum, commodi porro cumque a. Incidunt ipsam impedit delectus, ex vitae totam nihil voluptates qui. Voluptatibus, quas!
                </span>
                <span class="section-img left">
                    <img src="/public/images/security.png" alt="">
                </span>
            </div>
        </section>
    </main>
    <div class="color">

    </div>
    <footer>
        <div class="logo">
            <img src="/public/images/logo.png" alt="Logo">
        </div>
        <div class="site-map">
            <span class="section-title">
                Site Map
            </span>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
        <div class="idea-form-wrapper">
            <span class="section-title">Hit us with Your ideas!</span>
            <form id="idea-form">
                <input type="text" name="name" id="name" placeholder="Your Name">
                <input type="email" name="mail" id="mail" placeholder="Your Email ID">
                <textarea name="suggestion" id="suggestion" placeholder="Your suggestions or remarks"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </footer>
</body>
</html>