<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loader.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/loader.js"></script>
      
    <!-- DarkMode -->
    <link rel="stylesheet" href="/css/colors.css">
    <script src="/js/darkMode.js"></script>
    <script>
        var isDarkModeCurrent = JSON.parse(localStorage.getItem("theme")).isDarkMode
        console.log(isDarkModeCurrent)
        toggleDarkMode(isDarkModeCurrent)
    </script>
</head>
<body>
    <div class="wrapper-wrapper">
        <div class="wrapper-lock">
            <div class="base">
                <div class="base-bottom">
                </div>
                <div class="lock-inside-top">
                </div>
                <div class="lock-inside-bottom">
                </div>
            </div>
            <div class="lock-cirlce">
                <div class="lock-circle-inside">
                </div>
            </div>
            <div class="lock-box">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="wrapper-inner">
            <h1>Login</h1>
            <% if (messages.error) { %>
                <%- messages.error %>
            <% } %>
            <form action="/login" method="post">
                <table>
                    <tr>
                        <td class="label"><label for="email">Email</label></td>
                        <td class="field"><input type="email" name="email" id="email" required></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td class="field"><input type="password" name="password" id="password" required></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="go-btn-cell"> <button type="submit">Login</button></td>
                    </tr>
                </table>
            </form><br><br>
            <a href="/register">Register Instead?</a>
            <a href="/forgot-password">Forgot Password?</a>
        </div>
    </div>
    
</body>
</html>