@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--whiteBG);
}
.wrapper{
    display: flex;
    padding: 1vw 2vw 0 2vw;
    justify-content: space-between;
    align-items: flex-start;
}
.sidebar{
    position: fixed;
    flex-direction: column;
}
.main{
    width: 70vw;
    margin-left: 20vw;
    padding-left: 2vw;
    font-size: 1.75vw;
    color: var(--black);
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .name{
    color: var(--black);
    font-size: 2.5vw;
    font-weight: 700;
    text-align: center;
    width: 20vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sidebar .image img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 20vw;
    border-radius: 50%;
}
.back{
    font-size: 3vw;
    position: fixed;
}
.back a{
    color: var(--black);
}
.heading{
    font-size: 3vw;
}
.links ul{
    list-style: none;
    font-size: 1.85vw;
}
.links li a{
    color: var(--grey);
    text-decoration: none;
}
.links li{
    margin-bottom: 1vw;
}
.upload{
    display: none;
    position: fixed;
    top: 25%;
    width: 30%;
    height: 50%;
    padding: 20px;
    border: 10px solid rgb(158, 140, 1);
    border-radius: 20px;
    background-color: var(--whiteBG);
    z-index: 1002;
    overflow: auto;
    font-size: 20px;
    text-align: center;
}
.upload-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.close-wrapper{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.update{
    background-color: rgb(88, 201, 209);
    transition: 200ms ease-in-out;
}
.close{
    background-color: rgb(255, 225, 0); 
    transition: 200ms ease-in-out;
}
.update:hover{
    background-color: rgb(6, 150, 160);
    cursor: pointer
}
.close:hover{
    background-color: rgb(202, 183, 32); 
    cursor: pointer
}
.button{
    border-radius: 7px;
    font: inherit;
    font-size: 15px;
    height: fit-content;
    padding: 5px;
    border: 1px solid black;
    color:black;
}
.actions{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}
#imgUploaded{
    margin-top: 5%;
}
.overlay-img{
    display: flex;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0;
    filter: alpha(opacity=80);
    position: absolute;
    aspect-ratio: 1/1;
    width: 20vw;
    border-radius: 50%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw;
    cursor: pointer;
    transition: 400ms ease-in-out;
}
.image:hover .overlay-img{
    opacity: 0.80;
}
.icons{
    margin-right: 1.5vw;
}
.profile, .security, .upgrade{
    height: 101vh;
}
.active a{
    color: var(--black) !important;
    font-size: 2.25vw;
    font-weight: 700;
    margin-left: 0.5vw;
    transition: 250ms ease-out;
}
.hidden{
    display: none;
}
.f-yes{
    color: rgb(22, 163, 0);
}
.f-no{
    color: rgb(148, 0, 0);
}
.num{
    font-family: 'Lato', sans-serif;
}
.tableP{
    width: 73vw;
}
.tableP,.thP,.tdP{
    border-collapse: collapse;
    border: 1px solid var(--tableBorderGrey);
}
.trP .thP{
    background-color: var(--tableBgGrey);
}
.thP,.tdP{
    text-align: center;
    padding: 1vw;
}
.features{
    text-align: left;
}
.tdP{
    width: 9vw;
}
.features{
    width: 21vw;
}
.message{
    font-size: 1.2vw;
    color: var(--messageRed);
}
form{
    width: 100%;
}
.tableE{
    width: 100%;
}
.label{
    width: 30%;
}
.field{
    float: right;
    width: 70%;
}
.submit-cell{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 100%;
    height: fit-content;
}
.field :not(input[type="radio"],.gender-label,.message){
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    background-color: var(--fieldYellow);
    width: 100%;
    margin-top: 0.6vw;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    padding: 0.4vw;
    transition: 200ms ease-in-out;
}
.field :not(input[type="radio"],.gender-label,.message):focus , .field :not(input[type="radio"],.gender-label,.message):hover{
    outline: none;
    background-color: var(--fieldYellowHover);
}
input[type="submit"]{
    /* -webkit-appearance: none;
    appearance: none; */
    font: inherit;
    position: absolute;
    left: 69.3%;
    transform: translateX(-69.3%);
    background-color: rgb(232, 140, 98);
    border-radius: 1vw;
    border: 0.2vw solid black;
    font-weight: 600;
    padding: 0.5vw;
    margin-top: 1vw;
}
input[type="submit"]:hover, input[type="submit"]:focus{
    background-color: rgb(255, 99, 72);
}
input[type="radio"]{
    cursor: pointer;
}
.marginB{
    margin-bottom: 0.6vw;
}
.ch-pw{
    position: absolute !important;
    left: 52% !important;
    transform: translateX(52%) !important;
}
.theme{
    margin-top: 110px;
    width: 100%;
}
.theme-btn{
    float: right;
    border-radius: 50%;
    border: 4px solid var(--black);
    width: 60px;
    height: 60px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
